<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

  <servlet>
    <servlet-name>Salary</servlet-name>
    <jsp-file>/pages/AdminSetSalary.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Salary</servlet-name>
    <url-pattern>/salary</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AverageSalary</servlet-name>
    <jsp-file>/pages/AdminAverageSalary.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AverageSalary</servlet-name>
    <url-pattern>/averageSalary</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Admin</servlet-name>
    <jsp-file>/pages/AdminPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>org.example.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>org.example.filters.AuthFilter</filter-class>
    <init-param>
      <param-name>AdminLogin</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>AdminPassword</param-name>
      <param-value>admin</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  
  <error-page>
    <exception-type>org.example.exceptions.AppException</exception-type>
    <location>/pages/ExceptionPage.jsp</location>
  </error-page>

</web-app>